<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>pets</title>
</head>
<body>

<div style="min-height: 100px;">
    <div th:each="pet : ${pets}" >
        <a th:href="@{/pets/{id}(id=${pet.getId()})}"
           th:text="${pet.getNickname() + ', ' + pet.getDateOfBirth() + ', '
        + pet.getOwner()}">user</a>
    </div>
</div>

<form th:action="@{/pets/filter}" method="get">
    <label>Фильтр по статусу:</label>
    <select name="status">
        <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}"></option>
    </select>
    <button type="submit">Фильтровать</button>
</form>

<br>


</body>
</html>